.loginForm {
  border-radius: 8px;
  background-color: rgba(92, 76, 76, 0.57);
  width: 100%; 
  max-width: 619px;
  color: #fff;
  text-align: center;
  padding: 15px 70px; /* Reduced padding to make button height smaller */
  font: 700 14px/1 Inter, sans-serif;
  font-size: 16px; 
  border: 1px solid rgba(177, 37, 42, 1);
  margin: 0 auto 30px auto; 
  display: block;
  cursor: pointer;
}

@media (max-width: 991px) {
  .loginForm {
    padding: 12px 50px; /* Reduced padding for mobile screens as well */
  }
}
