.section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    text-align: center;
    font: 400 14px Inter, sans-serif;
  }  
  .link {
    color: #e22525;
    font-size: 15px;
    line-height: 1;
    margin-top: 31px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }